<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">

          <li class="nav-header">
                <div class="dropdown profile-element" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle href>
                      <img src="img/g4166.png">
                    </a>
                </div>
                <div class="logo-element">
                  FB
                </div>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.main"><i class="fa fa-laptop"></i> <span class="nav-label">Dashboard</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.minor"><i class="fa fa-info"></i> <span class="nav-label">About</span></a>
            </li>
        </ul>

    </div>
</nav>
